body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('../photo/FondoLogin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #db6666;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #db6666;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #db6666;
    text-decoration: none;
}